.RecommendationSlider {
  display: flex;
  height: 155px;
  padding-top: 25px;
  background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);

  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: visible;
  scroll-behavior: smooth;

  align-content: center;
  justify-content: flex-start;

  pointer-events: auto;
}

.RecommendationSlider_centered {
  justify-content: center;
}

.RecommendationSlider::-webkit-scrollbar {
  /* hide scrollbar only for webkit */ 
  display: none;
}