.RecommendationLane {
  position: absolute;
  bottom: 0;
  width: 100%;

  pointer-events: none;
}

.RecommendationLane__Line {
  display: flex;
  position: relative;
}

.RecommendationLane__StartButton {
  margin-left: 40px;
  margin-bottom: 30px;

  pointer-events: auto;
  user-select: none;
}

.RecommendationLane__StartButton_pressed {
  margin-bottom: 0;
}

.RecommendationLane__UpArrowButton {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  align-self: center;
  width: 20px;

  pointer-events: auto;
}
